*{
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Montserrat";
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Oswald', sans-serif;
}
a{
  text-decoration: none;
}

/* variables */
:root{
  --primary-color: #b6142c;
  --secondary-color: #000;
  --white: #fff;
  --grey: #393939;
  --yellow: #d7b054;
}
